In [193]:
import pandas as pd
import csv
import numpy as np

In [194]:
purchase_file = "Resources/purchase_data.csv"
purchase_df = pd.read_csv(purchase_file)

In [195]:
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [196]:
#display overview of 'SN' column
purchase_df['SN'].value_counts()

Lisosia93       5
Idastidru52     4
Iral74          4
Chanastnya43    3
Zontibe81       3
               ..
Sondossa69      1
Tyialisti80     1
Styaduen40      1
Eudanu32        1
Filrion59       1
Name: SN, Length: 576, dtype: int64

In [197]:
print(len(purchase_df['SN'].unique()))

576

In [198]:
tot_players = pd.Series(purchase_df['SN'].unique())

In [199]:
print((type(tot_players)))

<class 'pandas.core.series.Series'>

In [200]:
tot_players.head()

0          Lisim78
1      Lisovynya38
2       Ithergue48
3    Chamassasya86
4        Iskosia90
dtype: object

In [201]:
purchase_group = purchase_df.groupby('SN')

In [202]:
purchase_mehpurchase_group

NameError: name 'purchase_mehpurchase_group' is not defined

In [203]:
#calculation to find number of unique items 
uniq_items=purchase_df['Item Name'].unique()

In [204]:
print(uniq_items)

['Extraction, Quickblade Of Trembling Hands' 'Frenzied Scimitar'
 'Final Critic' 'Blindscythe' 'Fury' 'Dreamkiss'
 'Interrogator, Blood Blade of the Queen' 'Abyssal Shard' 'Souleater'
 'Ghastly Adamantite Protector' 'Singed Onyx Warscythe'
 'Renewed Skeletal Katana' "Bloodlord's Fetish"
 'Bone Crushing Silver Skewer' 'Deadline, Voice Of Subtlety'
 'Second Chance' 'Devine' 'Nirvana' 'Blazefury, Protector of Delusions'
 'Despair, Favor of Due Diligence' 'Sun Strike, Jaws of Twisted Visions'
 'Warped Fetish' 'Severance' 'Persuasion'
 'Oathbreaker, Last Hope of the Breaking Storm' 'Demise'
 'Blood-Forged Skeletal Spine' 'Stormbringer, Dark Blade of Ending Misery'
 'Shadow Strike, Glory of Ending Hope' 'Striker'
 'Wolf, Promise of the Moonwalker' "Faith's Scimitar"
 'Bonecarvin Battle Axe' 'Azurewrath' 'Vengeance Cleaver'
 'Haunted Bronzed Bludgeon' 'Ritual Mace' 'Blade of the Grave'
 'Thorn, Satchel of Dark Souls' "Winter's Bite"
 'Thorn, Conqueror of the Corrupted' "Reaper's Toll" 'Avenger'
 'Shadowsteel' 'Peacekeeper, Wit of Dark Magic' 'Suspension' 'Amnesia'
 'Soul Infused Crystal' 'Wolf' 'Relentless Iron Skewer' 'Hero Cane'
 'Arcane Gem' 'Dreamsong' 'Darkheart' 'Hailstorm Shadowsteel Scythe'
 'Whistling Mithril Warblade' 'Foul Titanium Battle Axe' 'Retribution Axe'
 'Rusty Skull' 'Riddle, Tribute of Ended Dreams' 'Chaos, Ender of the End'
 'Storm-Weaver, Slayer of Inception' 'Venom Claymore'
 'Emberling, Defender of Delusions' 'Netherbane' 'Dawn' 'Primitive Blade'
 'Dawne' 'Curved Axe' 'Fate, Vengeance of Eternal Justice'
 'Lazarus, Terror of the Earth' 'Lightning, Etcher of the King'
 'Betrayal, Whisper of Grieving Widows' 'Exiled Doomblade'
 'Undead Crusader' 'Downfall, Scalpel Of The Emperor' 'Sleepwalker'
 'Eternal Cleaver' 'Expiration, Warscythe Of Lost Worlds' 'Malificent Bag'
 'Mercy, Katana of Dismay' 'Orbit' 'Deathraze' 'Serenity'
 'Heartstriker, Legacy of the Light' 'Glimmer, Ender of the Moon'
 'Deluge, Edge of the West' 'Crucifer' 'Piece Maker'
 'Brutality Ivory Warmace' "Freak's Bite, Favor of Holy Might"
 'Yearning Crusher' 'Agatha' 'Fiery Glass Crusader' 'Splinter' 'Verdict'
 'Warped Iron Scimitar' 'Darkheart, Butcher of the Champion'
 'Purgatory, Gem of Regret' 'Woeful Adamantite Claymore'
 'Hopeless Ebon Dualblade' "Warmonger, Gift of Suffering's End"
 "Misery's End" 'Phantomlight' 'Conqueror Adamantite Mace'
 "Dragon's Greatsword" 'Stormcaller' 'Spada, Etcher of Hatred'
 "Twilight's Carver" 'Putrid Fan' 'Blood Infused Guardian'
 'Singed Scalpel' 'Warped Diamond Crusader' 'Endbringer' 'Feral Katana'
 'Orenmir' 'Piety, Guardian of Riddles' 'Brimstone' 'Stormfury Mace'
 'Frenzy, Defender of the Harvest' "Solitude's Reaver" 'Mercenary Sabre'
 'Yearning Mageblade' 'Tranquility, Razor of Black Magic'
 'Oathbreaker, Spellblade of Trials' 'Aetherius, Boon of the Blessed'
 'Righteous Might' 'Victor Iron Spikes' 'Swan Song, Gouger Of Terror'
 'Thunderfury Scimitar' 'Splitter, Foe Of Subtlety' 'Restored Bauble'
 'The Decapitator' 'Pursuit, Cudgel of Necromancy' 'Lifebender'
 'Flux, Destroyer of Due Diligence' 'Mourning Blade' 'Toothpick'
 "Hope's End" 'Torchlight, Bond of Storms' 'Thirsty Iron Reaver'
 'Stormfury Longsword' 'Malice, Legacy of the Queen'
 'War-Forged Gold Deflector' 'Blazeguard, Reach of Eternity'
 'Soul-Forged Steel Shortsword' 'Hellreaver, Heirloom of Inception'
 'Heartless Bone Dualblade' 'Scalpel' 'Hatred' 'Crying Steel Sickle'
 'The Void, Vengeance of Dark Magic' 'Celeste'
 'Ghost Reaver, Longsword of Magic'
 'Celeste, Incarnation of the Corrupted' 'Glinting Glass Edge'
 'The Oculus, Token of Lost Worlds' 'Massacre' 'Alpha, Oath of Zeal'
 'Possessed Core' 'Foul Edge' 'Trickster' 'Fusion Pummel'
 'Stormfury Lantern' 'Apocalyptic Battlescythe' 'Unholy Wand'
 'Unending Tyranny' 'Ragnarok' 'Rage, Legacy of the Lone Victor'
 'Worldbreaker' 'Exiled Mithril Longsword' 'Spectral Diamond Doomblade'
 'Vindictive Glass Edge' 'Heartseeker, Reaver of Souls'
 'Alpha, Reach of Ending Hope' 'Alpha' 'Betrayer'
 'Winterthorn, Defender of Shifting Worlds' "Gladiator's Glaive"]

In [205]:
print(type(uniq_items))

<class 'numpy.ndarray'>

In [206]:
#int variable that holds the number of unique items
num_uniq_item = len(uniq_items)

In [207]:
print(num_uniq_item)

179

In [208]:
#calculation for average price 
ave_price_arr = purchase_df['Price'].mean()

In [209]:
print(ave_price_arr)

3.0509871794871795

In [210]:
print(type(ave_price_arr))

<class 'numpy.float64'>

In [211]:
#calculation for number of purchases
Purchases  = purchase_df["Purchase ID"]

In [212]:
print(Purchases)

0        0
1        1
2        2
3        3
4        4
      ...
775    775
776    776
777    777
778    778
779    779
Name: Purchase ID, Length: 780, dtype: int64

In [213]:
numPurchases = len(Purchases)

In [214]:
print(numPurchases)

780

In [215]:
#calculation for total revenue 
totRev = purchase_df["Price"].sum()

In [216]:
print(totRev)

2379.77

In [217]:
Rev = np.float64(0)
pyRev = Rev.item()

In [218]:
#create dictionary of lists 
purchDict = {"Number of Unique Items":[num_uniq_item],
             "Average Price": [ave_price_arr],
             "Number of Purchases": [numPurchases],
             "Total Revenue": [totRev]}

In [219]:
#purch df number 2
sum_df= pd.DataFrame(purchDict)

In [220]:
sum_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [221]:
#Gender Demographics

In [222]:
#calculation for total count of male players 
#only_male is new df with info from purchase_df but only males-- contains repeats
only_male = purchase_df.loc[purchase_df["Gender"]=="Male"]

In [223]:
only_male

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [224]:
male_uniq = only_male['SN'].unique()

In [225]:
male_count=(len(male_uniq))

In [226]:
#calculate percent of total players that are male
print(type(tot_players))

<class 'pandas.core.series.Series'>

In [227]:
#get the number of total players-- store as an 'int' variable
num_players = len(tot_players)

In [228]:
percent_male = (male_count/num_players)

In [229]:
print(percent_male)

0.8402777777777778

In [230]:
#calculation for total count of female players 
#only_fem is new df with info from purchase_df but only females-- contains repeats
only_fem = purchase_df.loc[purchase_df["Gender"]=="Female"]

In [231]:
only_fem

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
...,...,...,...,...,...,...,...
731,731,Eudanu84,22,Female,12,Dawne,1.02
740,740,Reunasu60,22,Female,127,"Heartseeker, Reaver of Souls",3.92
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
767,767,Ilmol66,8,Female,92,Final Critic,4.88
775,775,Aethedru70,21,Female,60,Wolf,3.54

In [232]:
#creates array of unique female SN
fem_uniq = only_fem['SN'].unique()

In [233]:
fem_uniq

array(['Lisassa64', 'Reunasu60', 'Reulae52', 'Assosia88', 'Phaelap26',
       'Chanastsda67', 'Hari50', 'Marilsa69', 'Mindadaran26', 'Heudai45',
       'Jiskjask60', 'Umolrian85', 'Chadistaya75', 'Iskichinya81',
       'Phyali88', 'Frichaststa61', 'Frichosia58', 'Yathecal82',
       'Adastirin33', 'Aillyrin83', 'Marast30', 'Sondim68',
       'Heosurnuru52', 'Syathe73', 'Baelollodeu94', 'Maradaran90',
       'Ialallo29', 'Haisurra41', 'Chamjask73', 'Tyaenasti87',
       'Taeduenu92', 'Quanunwen42', 'Tyidaim51', 'Aerithllora36',
       'Yana46', 'Wailin72', 'Marim28', 'Syalollorap93', 'Mindilsa34',
       'Tyidainu31', 'Layjask75', 'Iduenu77', 'Phaedue89', 'Ilmol66',
       'Chamilsala65', 'Heuli25', 'Chamirrasya33', 'Sida61', 'Heunadil74',
       'Lisotesta51', 'Eusri70', 'Leyirra83', 'Aiduesu86',
       'Frichosiala98', 'Aisurdru79', 'Sondassasya91', 'Chanossast57',
       'Chanjask65', 'Sondistanya61', 'Eudanu32', 'Sundjask71',
       'Errian63', 'Aidain51', 'Sally64', 'Isurria36', 'Pheosurllorin41',
       'Lassadarsda57', 'Yoishirrala98', 'Chanirra79', 'Rithe53',
       'Quanrion96', 'Lisirra58', 'Chamast86', 'Quilassa66', 'Assilsan72',
       'Inasuir29', 'Tyaelistidru84', 'Yarithrin84', 'Tyaelly53',
       'Eudanu84', 'Aethedru70'], dtype=object)

In [234]:
fem_count = len(fem_uniq)

In [235]:
print(fem_count)

81

In [236]:
#calculate percent of female players and store in variable called 'percent_fem'
percent_fem = (fem_count/num_players)

In [237]:
print(percent_fem)

0.140625

In [238]:
purchase_df["Gender"].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [239]:
only_other = purchase_df.loc[purchase_df["Gender"]=="Other / Non-Disclosed"]

In [240]:
only_other

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39
237,237,Idairin51,20,Other / Non-Disclosed,16,Restored Bauble,3.55
242,242,Eodaisu60,16,Other / Non-Disclosed,39,"Betrayal, Whisper of Grieving Widows",3.94
291,291,Idairin51,20,Other / Non-Disclosed,35,Heartless Bone Dualblade,3.45
350,350,Rairith81,15,Other / Non-Disclosed,34,Retribution Axe,2.22
401,401,Lirtim36,15,Other / Non-Disclosed,46,Hopeless Ebon Dualblade,1.33
484,484,Chanosian48,35,Other / Non-Disclosed,39,"Betrayal, Whisper of Grieving Widows",3.94
549,549,Maluncil97,25,Other / Non-Disclosed,146,Warped Iron Scimitar,3.10
629,629,Maluncil97,25,Other / Non-Disclosed,107,"Splitter, Foe Of Subtlety",2.18
637,637,Airi27,24,Other / Non-Disclosed,163,Thunderfury Scimitar,3.45
747,747,Siarithria38,38,Other / Non-Disclosed,146,Warped Iron Scimitar,3.10

In [241]:
other_uniq = only_other["SN"].unique()

In [242]:
other_count = len(other_uniq)

In [243]:
print(other_count)

11

In [244]:
percent_other = (other_count/num_players)

In [245]:
print(percent_other)

0.019097222222222224

In [246]:
#try dictionary of lists

In [247]:
#creation of lists
counts = [male_count,fem_count,other_count]

In [248]:
percents = [percent_male,percent_fem,percent_other]

In [249]:
#create dictionary of lists 
gender_dict = {"Total Counts": [counts],
               "Percentage of Players":[percents]}

In [250]:
gender_df = pd.DataFrame(gender_dict)

In [251]:
gender_df

    Total Counts                              Percentage of Players
0  [484, 81, 11]  [0.8402777777777778, 0.140625, 0.0190972222222...

In [252]:
#try with list of dictionaries

In [253]:
#create list of dictionaries
gender_list = [{"Total Count": male_count,"Percentage of Players": percent_male},
               {"Total Count":fem_count,"Percentage of Players":percent_fem},
               {"Total Count":other_count,"Percentage of Players":percent_other}]

In [254]:
gender_df2 = pd.DataFrame(gender_list)

In [255]:
gender_df2

   Total Count  Percentage of Players
0          484               0.840278
1           81               0.140625
2           11               0.019097

In [256]:
gender_df2.index=['Male','Female', 'Other / Nondisclosed']

In [257]:
gender_df2

                      Total Count  Percentage of Players
Male                          484               0.840278
Female                         81               0.140625
Other / Nondisclosed           11               0.019097

In [258]:
#purchasing analysis (gender)

In [259]:
gender_group_pur = purchase_df.groupby("Gender")

In [260]:
gender_group_purchase = gender_group_pur["Gender"].count()

In [261]:
gender_group_purchase

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [262]:
avg_price_gen = gender_group_pur["Price"].mean()

In [263]:
avg_price_gen

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [264]:
tot_purch = gender_group_pur["Price"].sum()

In [265]:
tot_purch

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [266]:
gen_uniq = purchase_df.groupby("Gender")

In [267]:
gen_nums = gen_uniq["SN"].value_counts()

In [268]:
persons=gender_df2["Total Count"].sort_index()

In [269]:
persons

Female                   81
Male                    484
Other / Nondisclosed     11
Name: Total Count, dtype: int64

In [270]:
ave_purch_person = tot_purch/persons

In [271]:
print(tot_purch[0])

361.93999999999966

In [272]:
fem_av_purch= tot_purch[0]/fem_count

In [273]:
print(fem_av_purch)

4.4683950617283905

In [274]:
male_av_purch = tot_purch[1]/male_count

In [275]:
other_av_purch = tot_purch[2]/other_count

In [276]:
ave_gen_list = [fem_av_purch,male_av_purch,other_av_purch]

In [277]:
ave_gen_series = pd.Series(ave_gen_list)

In [278]:
#ave_gen_series.index=["Female","Male","Other / Non-Disclosed"]

In [279]:
ave_gen_series

0    4.468395
1    4.065372
2    4.562727
dtype: float64

In [280]:
trial_dict = [{"Purchase Count":gender_group_purchase},
              {"Average Purchase Price":avg_price_gen}]

In [281]:
trials= pd.DataFrame(trial_dict)

In [282]:
trials

,Purchase Count,Average Purchase Price
0,Gender Female 113 Male ...,NaN
1,NaN,Gender Female 3.203009 Male ...

In [283]:
trial_frame={"Purchase Count": gender_group_purchase,
             "Average Purchase Price": avg_price_gen,
             "Total Purchase Value": tot_purch}

In [284]:
trial2 = pd.DataFrame(trial_frame)

In [285]:
trial2

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

In [286]:
trial2.insert(3,"Avg Total Purchase per Person",ave_gen_series)

In [287]:
trial2

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,NaN
Male,652,3.017853,1967.64,NaN
Other / Non-Disclosed,15,3.346000,50.19,NaN

In [288]:
#age demographics

In [289]:
#get summary of ages
meh= purchase_df["Age"].unique()

In [290]:
meh.sort()

In [291]:
meh

array([ 7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23,
       24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40,
       41, 42, 43, 44, 45])

In [292]:
bins = [0, 9.9,14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 50.9 ]

In [293]:
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [294]:
purchase_df["Age"].value_counts()

20    99
22    70
24    67
23    67
21    62
25    59
15    35
30    35
16    30
18    26
19    23
17    22
35    14
33    14
26    14
29    13
27    10
10     9
7      9
34     9
38     9
32     8
8      8
11     7
31     7
37     7
39     6
40     6
9      6
12     6
36     5
28     5
13     4
44     2
41     2
14     2
43     1
42     1
45     1
Name: Age, dtype: int64

In [295]:
uniq_players_group= purchase_df.groupby("Age")

In [296]:
uniq_try = uniq_players_group["SN"].unique()

In [297]:
seriously = purchase_df.drop_duplicates(subset = "SN")
seriously

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19

In [299]:
why= pd.cut(seriously["Age"], bins,labels=bin_names, include_lowest=True)

In [300]:
seriously.insert(7,"plz",why)

In [302]:
seriously_group = seriously.groupby("plz")

In [303]:
seriously_df = seriously_group.count()

In [307]:
seriously_df

       Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
plz
<10             17   17   17      17       17         17     17
10-14           22   22   22      22       22         22     22
15-19          107  107  107     107      107        107    107
20-24          258  258  258     258      258        258    258
25-29           77   77   77      77       77         77     77
30-34           52   52   52      52       52         52     52
35-39           31   31   31      31       31         31     31
40+             12   12   12      12       12         12     12

In [312]:
seriously_bins = seriously_df["Purchase ID"]

In [313]:
seriously_bins

plz
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Purchase ID, dtype: int64

In [314]:
omg_why = seriously_bins/num_players

In [315]:
omg_why

plz
<10      0.029514
10-14    0.038194
15-19    0.185764
20-24    0.447917
25-29    0.133681
30-34    0.090278
35-39    0.053819
40+      0.020833
Name: Purchase ID, dtype: float64

In [316]:
seriously_frame = {"Total Count": seriously_bins,
                   "Percentage of Players": omg_why}

In [317]:
send_halp = pd.DataFrame(seriously_frame)

In [318]:
send_halp

       Total Count  Percentage of Players
plz
<10             17               0.029514
10-14           22               0.038194
15-19          107               0.185764
20-24          258               0.447917
25-29           77               0.133681
30-34           52               0.090278
35-39           31               0.053819
40+             12               0.020833

In [319]:
#purchasing analysis (age)

In [322]:
bins2= pd.cut(purchase_df["Age"], bins,labels=bin_names, include_lowest=True)

In [323]:
purchase_df.insert(7,"Bin",bins2)

In [324]:
purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Bin
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [326]:
bins2_group = purchase_df.groupby("Bin")

In [327]:
bins2_df = bins2_group.count()

In [328]:
bins2_df

       Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Bin
<10             23   23   23      23       23         23     23
10-14           28   28   28      28       28         28     28
15-19          136  136  136     136      136        136    136
20-24          365  365  365     365      365        365    365
25-29          101  101  101     101      101        101    101
30-34           73   73   73      73       73         73     73
35-39           41   41   41      41       41         41     41
40+             13   13   13      13       13         13     13

In [329]:
bins2_purchCount= bins2_df["SN"]

In [330]:
bins2_avPrice= bins2_group["Price"].mean()

In [331]:
bins2_avPrice

Bin
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [332]:
bins2_totRev= bins2_group["Price"].sum()

In [334]:
bins2_av_pp = bins2_totRev/seriously_bins

In [335]:
bins2_av_pp

Bin
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [337]:
bins2_finalFrame = {"Purchase Count": bins2_purchCount,
                    "Average Purchase Price": bins2_avPrice,
                    "Total Purchase Revenue:": bins2_totRev,
                    "Avg Total Purchase per Person": bins2_av_pp}

In [338]:
bins2_df_fin = pd.DataFrame(bins2_finalFrame)

In [339]:
bins2_df_fin

,Purchase Count,Average Purchase Price,Total Purchase Revenue:,Avg Total Purchase per Person
Bin,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667