In [1]:
import pandas as pd
import csv
import numpy as np

In [2]:
purchase_file = "Resources/purchase_data.csv"
purchase_df = pd.read_csv(purchase_file)

In [3]:
print(len(purchase_df['SN'].unique()))

576

In [4]:
tot_players = pd.Series(purchase_df['SN'].unique())

In [6]:
purchase_group = purchase_df.groupby('SN')

In [7]:
#calculation to find number of unique items 
uniq_items=purchase_df['Item Name'].unique()

In [8]:
#int variable that holds the number of unique items
num_uniq_item = len(uniq_items)

In [9]:
#calculation for average price 
ave_price_arr = purchase_df['Price'].mean()

In [10]:
#calculation for number of purchases
Purchases  = purchase_df["Purchase ID"]

In [11]:
numPurchases = len(Purchases)

In [12]:
#calculation for total revenue 
totRev = purchase_df["Price"].sum()

In [13]:
Rev = np.float64(0)
pyRev = Rev.item()

In [14]:
#create dictionary of lists 
purchDict = {"Number of Unique Items":[num_uniq_item],
             "Average Price": [ave_price_arr],
             "Number of Purchases": [numPurchases],
             "Total Revenue": [totRev]}

In [15]:
#purch df number 2
sum_df= pd.DataFrame(purchDict)

In [16]:
sum_df_ff = sum_df.copy()
sum_df_ff["Average Price"]=sum_df["Average Price"].astype(float).map(
    "${:,.2f}".format)
sum_df_ff["Total Revenue"]=sum_df["Total Revenue"].astype(float).map(
    "${:,.2f}".format)
sum_df_ff

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [17]:
#Gender Demographics

In [18]:
#calculation for total count of male players 
#only_male is new df with info from purchase_df but only males-- contains repeats
only_male = purchase_df.loc[purchase_df["Gender"]=="Male"]

In [19]:
male_uniq = only_male['SN'].unique()

In [20]:
male_count=(len(male_uniq))

In [21]:
#get the number of total players-- store as an 'int' variable
num_players = len(tot_players)

In [22]:
percent_male = (male_count/num_players)

In [23]:
#calculation for total count of female players 
#only_fem is new df with info from purchase_df but only females-- contains repeats
only_fem = purchase_df.loc[purchase_df["Gender"]=="Female"]

In [24]:
#creates array of unique female SN
fem_uniq = only_fem['SN'].unique()

In [25]:
fem_count = len(fem_uniq)

In [26]:
#calculate percent of female players and store in variable called 'percent_fem'
percent_fem = (fem_count/num_players)

In [27]:
purchase_df["Gender"].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [28]:
only_other = purchase_df.loc[purchase_df["Gender"]=="Other / Non-Disclosed"]

In [29]:
other_uniq = only_other["SN"].unique()

In [30]:
other_count = len(other_uniq)

In [31]:
percent_other = (other_count/num_players)

In [32]:
#creation of lists
counts = [male_count,fem_count,other_count]

In [33]:
percents = [percent_male,percent_fem,percent_other]

In [34]:
#try with list of dictionaries

In [35]:
#create list of dictionaries
gender_list = [{"Total Count": male_count,"Percentage of Players": percent_male},
               {"Total Count":fem_count,"Percentage of Players":percent_fem},
               {"Total Count":other_count,"Percentage of Players":percent_other}]

In [36]:
gender_df2 = pd.DataFrame(gender_list)

In [37]:
gender_df2.index=['Male','Female', 'Other / Nondisclosed']

In [38]:
gender_df2_ff =gender_df2.copy()
gender_df2_ff["Percentage of Players"]=gender_df2["Percentage of Players"].astype(float).map(
    "{:.2%}".format)
gender_df2_ff

                      Total Count Percentage of Players
Male                          484                84.03%
Female                         81                14.06%
Other / Nondisclosed           11                 1.91%

In [39]:
#purchasing analysis (gender)

In [40]:
gender_group_pur = purchase_df.groupby("Gender")

In [41]:
gender_group_purchase = gender_group_pur["Gender"].count()

In [42]:
avg_price_gen = gender_group_pur["Price"].mean()

In [43]:
tot_purch = gender_group_pur["Price"].sum()

In [44]:
gen_uniq = purchase_df.groupby("Gender")

In [45]:
gen_nums = gen_uniq["SN"].value_counts()

In [46]:
persons=gender_df2["Total Count"].sort_index()

In [47]:
ave_purch_person = tot_purch/persons

In [48]:
fem_av_purch= tot_purch[0]/fem_count

In [49]:
male_av_purch = tot_purch[1]/male_count

In [50]:
other_av_purch = tot_purch[2]/other_count

In [51]:
ave_gen_list = [fem_av_purch,male_av_purch,other_av_purch]

In [52]:
ave_gen_series = pd.Series(ave_gen_list)
print(ave_gen_series)

0    4.468395
1    4.065372
2    4.562727
dtype: float64

In [53]:
trial_frame={"Purchase Count": gender_group_purchase,
             "Average Purchase Price": avg_price_gen,
             "Total Purchase Value": tot_purch}

In [54]:
trial2 = pd.DataFrame(trial_frame)

In [55]:
trial2.insert(3,"Avg Total Purchase per Person",ave_gen_list)

In [56]:
trial2_ff = trial2.copy()
trial2_ff["Total Purchase Value"]=trial2["Total Purchase Value"].astype(float).map(
    "${:,.2f}".format)
trial2_ff["Average Purchase Price"]=trial2["Average Purchase Price"].astype(float).map(
    "${:,.2f}".format)
trial2_ff["Avg Total Purchase per Person"]=trial2["Avg Total Purchase per Person"].astype(float).map(
    "${:,.2f}".format)
trial2_ff

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [57]:
#age demographics

In [58]:
#get summary of ages
meh= purchase_df["Age"].unique()

In [59]:
meh.sort()

In [60]:
bins = [0, 9.9,14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 50.9 ]

In [61]:
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [62]:
uniq_players_group= purchase_df.groupby("Age")

In [63]:
uniq_try = uniq_players_group["SN"].unique()

In [64]:
seriously = purchase_df.drop_duplicates(subset = "SN")

In [65]:
why= pd.cut(seriously["Age"], bins,labels=bin_names, include_lowest=True)

In [66]:
seriously.insert(7,"plz",why)

In [67]:
seriously_group = seriously.groupby("plz")

In [68]:
seriously_df = seriously_group.count()

In [69]:
seriously_bins = seriously_df["Purchase ID"]

In [70]:
omg_why = seriously_bins/num_players

In [71]:
seriously_frame = {"Total Count": seriously_bins,
                   "Percentage of Players": omg_why}

In [72]:
send_halp = pd.DataFrame(seriously_frame)

In [73]:

send_halp_ff = send_halp.copy()
send_halp_ff["Percentage of Players"]=send_halp["Percentage of Players"].astype(float).map(
    "{:.2%}".format)
send_halp_ff

       Total Count Percentage of Players
plz
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [74]:
#purchasing analysis (age)

In [75]:
bins2= pd.cut(purchase_df["Age"], bins,labels=bin_names, include_lowest=True)

In [76]:
purchase_df.insert(7,"Bin",bins2)

In [77]:
purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Bin
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [78]:
bins2_group = purchase_df.groupby("Bin")

In [79]:
bins2_df = bins2_group.count()

In [80]:
bins2_purchCount= bins2_df["SN"]

In [81]:
bins2_avPrice= bins2_group["Price"].mean()

In [82]:
bins2_totRev= bins2_group["Price"].sum()

In [83]:
bins2_av_pp = bins2_totRev/seriously_bins

In [84]:
bins2_finalFrame = {"Purchase Count": bins2_purchCount,
                    "Average Purchase Price": bins2_avPrice,
                    "Total Purchase Revenue": bins2_totRev,
                    "Avg Total Purchase per Person": bins2_av_pp}

In [85]:
bins2_df_fin = pd.DataFrame(bins2_finalFrame)

In [86]:
bins2_ff = bins2_df_fin.copy()
bins2_ff["Average Purchase Price"]= bins2_df_fin["Average Purchase Price"].astype(float).map((
    "${:,.2f}".format))
bins2_ff["Total Purchase Revenue"]= bins2_df_fin["Total Purchase Revenue"].astype(float).map((
    "${:,.2f}".format))
bins2_ff["Avg Total Purchase per Person"]= bins2_df_fin["Avg Total Purchase per Person"].astype(float).map((
    "${:,.2f}".format))
bins2_ff

,Purchase Count,Average Purchase Price,Total Purchase Revenue,Avg Total Purchase per Person
Bin,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [87]:
#top spenders

In [88]:
spender_group = purchase_df.groupby("SN")

In [89]:
spend_purch_count = spender_group["SN"].count()

In [90]:
spender_av_p = spender_group["Price"].mean()

In [91]:
spender_tot_p = spender_group["Price"].sum()

In [92]:
hm_frame = {"Purchase Count": spend_purch_count,
            "Average Purchase Price": spender_av_p,
            "Total Purchase Value": spender_tot_p}

In [93]:
top_spenders_df = pd.DataFrame(hm_frame)

In [94]:
newTop = top_spenders_df.sort_values(by = ["Total Purchase Value"],ascending = False)

In [95]:
top_spender_final = newTop.head(5)

In [96]:
top_spend_ff =top_spender_final.copy()
top_spend_ff["Average Purchase Price"]=top_spender_final["Average Purchase Price"].astype(float).map(
    "${:,.2f}".format)
top_spend_ff["Total Purchase Value"]=top_spender_final["Total Purchase Value"].astype(float).map(
    "${:,.2f}".format)
top_spend_ff

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [97]:
#most popular items

In [98]:
itemID = purchase_df["Item ID"]

In [99]:
itemName = purchase_df["Item Name"]

In [100]:
itemPrice = purchase_df["Price"]

In [101]:
pop_frame = {"Item ID": itemID,
             "Item Name": itemName,
             "Item Price": itemPrice}

In [102]:
pop_df = pd.DataFrame(pop_frame)

In [103]:
pop_groups = pop_df.groupby(["Item ID","Item Name"])

In [104]:
purchCount = pop_groups["Item ID"].count()

In [105]:
aveItPrice = pop_groups["Item Price"].mean()

In [106]:
totPurVal = pop_groups["Item Price"].sum()

In [107]:
pop_sum_frame = {"Purchase Count": purchCount,
                 "Item Price": aveItPrice,
                 "Total Purchase Value": totPurVal}

In [108]:
pop_sum_df = pd.DataFrame(pop_sum_frame)

In [109]:
pop_sum=pop_sum_df.sort_values(by = ["Purchase Count"],ascending = False)
pop_sum_fin = pop_sum.copy()

In [110]:
pop_sum_fin["Total Purchase Value"]=pop_sum["Total Purchase Value"].astype(float).map(
    "${:,.2f}".format)
pop_sum_fin["Item Price"]=pop_sum["Item Price"].astype(float).map(
    "${:,.2f}".format)
pop_sum_fin.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [111]:
profItem_df = pop_sum_df.sort_values(by = ["Total Purchase Value"], ascending = False)

In [112]:
profItem_df_fin = profItem_df.copy()

In [113]:
profItem_df_fin["Item Price"]=profItem_df_fin["Item Price"].astype(float).map(
    "${:,.2f}".format)

In [114]:
profItem_df_fin["Total Purchase Value"]=profItem_df_fin["Total Purchase Value"].astype(float).map(
    "${:,.2f}".format)

In [115]:
profItem_df_fin.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80