In [637]:
import pandas as pd
import csv
import numpy as np

In [638]:
purchase_file = "Resources/purchase_data.csv"
purchase_df = pd.read_csv(purchase_file)

In [640]:
print(len(purchase_df['SN'].unique()))

576

In [641]:
tot_players = pd.Series(purchase_df['SN'].unique())

In [643]:
tot_players.head()

0          Lisim78
1      Lisovynya38
2       Ithergue48
3    Chamassasya86
4        Iskosia90
dtype: object

In [644]:
purchase_group = purchase_df.groupby('SN')

In [645]:
#calculation to find number of unique items 
uniq_items=purchase_df['Item Name'].unique()

In [646]:
#int variable that holds the number of unique items
num_uniq_item = len(uniq_items)

In [647]:
#calculation for average price 
ave_price_arr = purchase_df['Price'].mean()

In [648]:
#calculation for number of purchases
Purchases  = purchase_df["Purchase ID"]

In [649]:
numPurchases = len(Purchases)

In [650]:
#calculation for total revenue 
totRev = purchase_df["Price"].sum()

In [651]:
Rev = np.float64(0)
pyRev = Rev.item()

In [652]:
#create dictionary of lists 
purchDict = {"Number of Unique Items":[num_uniq_item],
             "Average Price": [ave_price_arr],
             "Number of Purchases": [numPurchases],
             "Total Revenue": [totRev]}

In [653]:
#purch df number 2
sum_df= pd.DataFrame(purchDict)

In [654]:
sum_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [655]:
#Gender Demographics

In [656]:
#calculation for total count of male players 
#only_male is new df with info from purchase_df but only males-- contains repeats
only_male = purchase_df.loc[purchase_df["Gender"]=="Male"]

In [657]:
male_uniq = only_male['SN'].unique()

In [658]:
male_count=(len(male_uniq))

In [659]:
#get the number of total players-- store as an 'int' variable
num_players = len(tot_players)

In [660]:
percent_male = (male_count/num_players)

In [661]:
#calculation for total count of female players 
#only_fem is new df with info from purchase_df but only females-- contains repeats
only_fem = purchase_df.loc[purchase_df["Gender"]=="Female"]

In [662]:
#creates array of unique female SN
fem_uniq = only_fem['SN'].unique()

In [663]:
fem_count = len(fem_uniq)

In [664]:
#calculate percent of female players and store in variable called 'percent_fem'
percent_fem = (fem_count/num_players)

In [665]:
purchase_df["Gender"].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [666]:
only_other = purchase_df.loc[purchase_df["Gender"]=="Other / Non-Disclosed"]

In [667]:
other_uniq = only_other["SN"].unique()

In [668]:
other_count = len(other_uniq)

In [669]:
percent_other = (other_count/num_players)

In [670]:
#creation of lists
counts = [male_count,fem_count,other_count]

In [671]:
percents = [percent_male,percent_fem,percent_other]

In [672]:
#try with list of dictionaries

In [673]:
#create list of dictionaries
gender_list = [{"Total Count": male_count,"Percentage of Players": percent_male},
               {"Total Count":fem_count,"Percentage of Players":percent_fem},
               {"Total Count":other_count,"Percentage of Players":percent_other}]

In [674]:
gender_df2 = pd.DataFrame(gender_list)

In [675]:
gender_df2.index=['Male','Female', 'Other / Nondisclosed']

In [676]:
gender_df2

                      Total Count  Percentage of Players
Male                          484               0.840278
Female                         81               0.140625
Other / Nondisclosed           11               0.019097

In [677]:
#purchasing analysis (gender)

In [678]:
gender_group_pur = purchase_df.groupby("Gender")

In [679]:
gender_group_purchase = gender_group_pur["Gender"].count()

In [680]:
avg_price_gen = gender_group_pur["Price"].mean()

In [681]:
tot_purch = gender_group_pur["Price"].sum()

In [682]:
gen_uniq = purchase_df.groupby("Gender")

In [683]:
gen_nums = gen_uniq["SN"].value_counts()

In [684]:
persons=gender_df2["Total Count"].sort_index()

In [685]:
ave_purch_person = tot_purch/persons

In [686]:
fem_av_purch= tot_purch[0]/fem_count

In [687]:
male_av_purch = tot_purch[1]/male_count

In [688]:
other_av_purch = tot_purch[2]/other_count

In [689]:
ave_gen_list = [fem_av_purch,male_av_purch,other_av_purch]

In [690]:
ave_gen_series = pd.Series(ave_gen_list)
print(ave_gen_series)

0    4.468395
1    4.065372
2    4.562727
dtype: float64

In [691]:
trial_frame={"Purchase Count": gender_group_purchase,
             "Average Purchase Price": avg_price_gen,
             "Total Purchase Value": tot_purch}

In [692]:
trial2 = pd.DataFrame(trial_frame)

In [693]:
trial2.insert(3,"Avg Total Purchase per Person",ave_gen_list)

In [694]:
trial2

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [695]:
#age demographics

In [696]:
#get summary of ages
meh= purchase_df["Age"].unique()

In [697]:
meh.sort()

In [698]:
bins = [0, 9.9,14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 50.9 ]

In [699]:
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [700]:
purchase_df["Age"].value_counts()

20    99
22    70
24    67
23    67
21    62
25    59
15    35
30    35
16    30
18    26
19    23
17    22
35    14
33    14
26    14
29    13
27    10
10     9
7      9
34     9
38     9
32     8
8      8
11     7
31     7
37     7
39     6
40     6
9      6
12     6
36     5
28     5
13     4
44     2
41     2
14     2
43     1
42     1
45     1
Name: Age, dtype: int64

In [701]:
uniq_players_group= purchase_df.groupby("Age")

In [702]:
uniq_try = uniq_players_group["SN"].unique()

In [703]:
seriously = purchase_df.drop_duplicates(subset = "SN")

In [704]:
why= pd.cut(seriously["Age"], bins,labels=bin_names, include_lowest=True)

In [705]:
seriously.insert(7,"plz",why)

In [706]:
seriously_group = seriously.groupby("plz")

In [707]:
seriously_df = seriously_group.count()

In [708]:
seriously_bins = seriously_df["Purchase ID"]

In [709]:
omg_why = seriously_bins/num_players

In [710]:
seriously_frame = {"Total Count": seriously_bins,
                   "Percentage of Players": omg_why}

In [711]:
send_halp = pd.DataFrame(seriously_frame)

In [712]:
send_halp

       Total Count  Percentage of Players
plz
<10             17               0.029514
10-14           22               0.038194
15-19          107               0.185764
20-24          258               0.447917
25-29           77               0.133681
30-34           52               0.090278
35-39           31               0.053819
40+             12               0.020833

In [713]:
#purchasing analysis (age)

In [714]:
bins2= pd.cut(purchase_df["Age"], bins,labels=bin_names, include_lowest=True)

In [715]:
purchase_df.insert(7,"Bin",bins2)

In [716]:
purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Bin
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [717]:
bins2_group = purchase_df.groupby("Bin")

In [718]:
bins2_df = bins2_group.count()

In [720]:
bins2_purchCount= bins2_df["SN"]

In [721]:
bins2_avPrice= bins2_group["Price"].mean()

In [723]:
bins2_totRev= bins2_group["Price"].sum()

In [724]:
bins2_av_pp = bins2_totRev/seriously_bins

In [725]:
bins2_finalFrame = {"Purchase Count": bins2_purchCount,
                    "Average Purchase Price": bins2_avPrice,
                    "Total Purchase Revenue:": bins2_totRev,
                    "Avg Total Purchase per Person": bins2_av_pp}

In [726]:
bins2_df_fin = pd.DataFrame(bins2_finalFrame)

In [728]:
bins2_df_fin

,Purchase Count,Average Purchase Price,Total Purchase Revenue:,Avg Total Purchase per Person
Bin,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

In [729]:
#top spenders

In [730]:
spender_group = purchase_df.groupby("SN")

In [731]:
spend_purch_count = spender_group["SN"].count()

In [733]:
spender_av_p = spender_group["Price"].mean()

In [734]:
spender_av_p

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [735]:
spender_tot_p = spender_group["Price"].sum()

In [736]:
hm_frame = {"Purchase Count": spend_purch_count,
            "Average Purchase Price": spender_av_p,
            "Total Purchase Value": spender_tot_p}

In [737]:
top_spenders_df = pd.DataFrame(hm_frame)

In [738]:
top_spenders_df

               Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76                1                2.280000                  2.28
Adastirin33                 1                4.480000                  4.48
Aeda94                      1                4.910000                  4.91
Aela59                      1                4.320000                  4.32
Aelaria33                   1                1.790000                  1.79
...                       ...                     ...                   ...
Yathecal82                  3                2.073333                  6.22
Yathedeu43                  2                3.010000                  6.02
Yoishirrala98               1                4.580000                  4.58
Zhisrisu83                  2                3.945000                  7.89
Zontibe81                   3                2.676667                  8.03

[576 rows x 3 columns]

In [739]:
newTop = top_spenders_df.sort_values(by = ["Total Purchase Value"],ascending = False)

In [740]:
top_spender_final = newTop.head(5)

In [741]:
top_spender_final

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [742]:
#most popular items

In [743]:
itemID = purchase_df["Item ID"]

In [744]:
itemName = purchase_df["Item Name"]

In [745]:
itemPrice = purchase_df["Price"]

In [746]:
pop_frame = {"Item ID": itemID,
             "Item Name": itemName,
             "Item Price": itemPrice}

In [747]:
pop_df = pd.DataFrame(pop_frame)

In [748]:
pop_groups = pop_df.groupby(["Item ID","Item Name"])

In [749]:
purchCount = pop_groups["Item ID"].count()

In [750]:
aveItPrice = pop_groups["Item Price"].mean()

In [751]:
totPurVal = pop_groups["Item Price"].sum()

In [752]:
pop_sum_frame = {"Purchase Count": purchCount,
                 "Item Price": aveItPrice,
                 "Total Purchase Value": totPurVal}

In [753]:
pop_sum_df = pd.DataFrame(pop_sum_frame)

In [754]:
pop_sum=pop_sum_df.sort_values(by = ["Purchase Count"],ascending = False)

In [755]:
pop_sum.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

In [756]:
profItem_df = pop_sum_df.sort_values(by = ["Total Purchase Value"], ascending = False)

In [757]:
profItem_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80