In [95]:
import pandas as pd
import csv
import numpy as np

In [96]:
purchase_file = "Resources/purchase_data.csv"
purchase_df = pd.read_csv(purchase_file)

In [97]:
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [98]:
#display overview of 'SN' column
purchase_df['SN'].value_counts()

Lisosia93      5
Idastidru52    4
Iral74         4
Aelin32        3
Iri67          3
              ..
Yarithrin84    1
Farusrian86    1
Assehoan67     1
Lisiriya82     1
Aillyrin83     1
Name: SN, Length: 576, dtype: int64

In [99]:
print(len(purchase_df['SN'].unique()))

576

In [100]:
tot_players = pd.Series(purchase_df['SN'].unique())

In [101]:
print((type(tot_players)))

<class 'pandas.core.series.Series'>

In [102]:
tot_players.head()

0          Lisim78
1      Lisovynya38
2       Ithergue48
3    Chamassasya86
4        Iskosia90
dtype: object

In [103]:
purchase_group = purchase_df.groupby('SN')

In [104]:
purchase_mehpurchase_group

NameError: name 'purchase_mehpurchase_group' is not defined

In [ ]:
#calculation to find number of unique items 
uniq_items=purchase_df['Item Name'].unique()

In [ ]:
print(uniq_items)

In [ ]:
print(type(uniq_items))

In [ ]:
#int variable that holds the number of unique items
num_uniq_item = len(uniq_items)

In [ ]:
print(num_uniq_item)

In [ ]:
#calculation for average price 
ave_price_arr = purchase_df['Price'].mean()

In [ ]:
print(ave_price_arr)

In [ ]:
print(type(ave_price_arr))

In [ ]:
#calculation for number of purchases
Purchases  = purchase_df["Purchase ID"]

In [ ]:
print(Purchases)

In [ ]:
numPurchases = len(Purchases)

In [ ]:
print(numPurchases)

In [ ]:
#calculation for total revenue 
totRev = purchase_df["Price"].sum()

In [ ]:
print(totRev)

In [ ]:
Rev = np.float64(0)
pyRev = Rev.item()

In [ ]:
#create dictionary of lists 
purchDict = {"Number of Unique Items":[num_uniq_item],
             "Average Price": [ave_price_arr],
             "Number of Purchases": [numPurchases],
             "Total Revenue": [totRev]}

In [ ]:
#purch df number 2
sum_df= pd.DataFrame(purchDict)

In [105]:
sum_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77